.name {
    padding-bottom: .5rem;
}

.info {
    font-size: 13px;
    color: grey;
}

.recentCall--missed {
    color: #D35400 !important;
}

.list {
    padding: 10px 0;
    padding-bottom: 75px;
}
