.mobilePanel {
    background-color: rgba(0,0,0,0.025);
    padding: .5rem;
    margin-bottom: 5px;
}

.panelButton {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    padding: 5px 12px;
    padding-top: 5px;
    line-height: 14px;
    font-weight: 600;
    background-color: #fff;
    border: solid #7f8c8d 2px;
    border-radius: 5px;
    position: relative;    
}