.newButton {
    display: block;
    text-decoration: none;
    background: #fff;
    font-weight: 600;
    padding: 5px 13px;
    border: 2px solid #353B3F;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    margin-top: 35px;
    width: 150px;
}

@media screen and (min-width:1024px) {
   .newButton {
        display: none;
   } 
}


.mobilePanel {
    background-color: rgba(0,0,0,0.018);
    padding: .5rem;
    margin-bottom: 5px;
}

.panelButton {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    padding: 5px 12px;
    padding-top: 5px;
    line-height: 14px;
    font-weight: 600;
    background-color: #fff;
    border: solid #c3c3c3 2px;
    border-radius: 5px;
    position: relative;    
}