.track {
    border: 1px solid #E6E6E7;
    padding: .8rem .88rem;
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 15px;
    padding-left: 35px;
    font-size: 14px;
    cursor: pointer;
}

.track:hover {
  border-color: #353B3F;
}

.incoming {
  background: url(/static/player/incoming.svg) left 5px center no-repeat;
  background-size: 25px 25px;
  background-color: #fff;
}

.incoming-missed {
  background: url(/static/player/incoming-missed.svg) left 5px center no-repeat;
  background-size: 25px 25px;
  background-color: #fff;
}

.outcoming {
  background: url(/static/player/outcoming.svg) left 5px center no-repeat;
  background-size: 25px 25px;
  background-color: #fff;
}

.outcoming-missed {
  background: url(/static/player/outcoming-missed.svg) left 5px center no-repeat;
  background-size: 25px 25px;
  background-color: #fff;
}