h2 {
  padding-left: 10px;
}

.track {
    border-top: 1px solid #E6E6E7;
    border-bottom: 1px solid #E6E6E7;
    padding: .8rem .88rem;
    background-color: #fff;
    margin-bottom: 15px;
    padding-left: 35px;
    font-size: 14px;
    cursor: pointer;
}

@media screen and (min-width:1024px) {
  .track {
      border: 1px solid #E6E6E7;
      border-radius: 4px;
  }  
}


.incoming:hover, .outcoming:hover {
  border-color: #A23A99;
}

.incoming {
  background: url(/static/player/incoming.svg) left 5px center no-repeat;
  background-size: 25px 25px;
  background-color: #fff;
}

.incoming-missed {
  background: url(/static/player/incoming-missed.svg) left 5px center no-repeat;
  background-size: 25px 25px;
  background-color: #fff;
}

.outcoming {
  background: url(/static/player/outcoming.svg) left 5px center no-repeat;
  background-size: 25px 25px;
  background-color: #fff;
}

.outcoming-missed {
  background: url(/static/player/outcoming-missed.svg) left 5px center no-repeat;
  background-size: 25px 25px;
  background-color: #fff;
}