.list {
    padding: 70px 0;
}

.pageTitle {
    padding: 7px;
    font-size: 28px;
}

.emptyList {
    padding: 7px;
    padding-left: 8px;
}

.emptyList > p {
    margin-bottom: 10px;
    color: #75877B;
    font-size: 16px;
    font-weight: 300;
}

.subTitle {
    padding: 7px;
    padding-top: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .035);
    margin-bottom: .7rem;
}

.noItems {
    padding: 7px 13px;
    color: #777;
    font-size: 16px;
    font-weight: 500;
}

.lead {
    border-spacing: 7px;
}

.callbackButton {
    cursor: pointer;
    width: 50px;
    background: url(/static/common/callback-icon.svg?1502294671905) no-repeat top center;
}

.saveButton {
    cursor: pointer;
    width: 50px;
    background: url(/static/common/info-icon.svg?1502294671905) no-repeat top center;
    background-size: 45px 45px;
}

.funnelDownButton {
    cursor: pointer;
    width: 50px;
    background-size: 30px 30px;
    background: url(/static/common/move-icon.svg?1502294671905) no-repeat top center;
}

.dealButton {
    cursor: pointer;
    width: 50px;
    background:  url(/static/common/deal-icon.svg?1502294671905) no-repeat top center;
}

.name {
    cursor: pointer;
    display: block;
    text-decoration: none;
    font-size: 20px;
    line-height: 1;
    padding-bottom: .25rem;
    word-wrap: break-word;
    font-weight: 500;
}

.name:hover {
    color: #A23A99;
}

.info {
    border-spacing: 0;
    padding-bottom: .5rem;
    font-size: 15px;
    color: #9B9B9B;
}

.wbrdr {
    border-bottom: 1px solid rgba(0,0,0,.05);
}

.missed {
    font-size: 13px;
    color: #000;
    background-color: #FFD1C6;
    padding: 5px 10px;
    border-radius: 4px;
}

.success {
    font-size: 13px;
    color: #000;
    background-color: #A6F0D9;
    padding: 5px 10px;
    border-radius: 4px;
}

.preloader {
    background: url(/static/common/loader80.gif) center center no-repeat;
    min-height: 300px;
}

@media screen and (min-width:1024px) {

    .pageTitle {
        padding-top: 7px;
    }

    .list {
        padding: 60px 0;
        margin: 0 auto;
        width: 600px;
    }

    .list__content {
        padding-top: 0;
    }

    .name {
        font-size: 18px;
        line-height: 20px;
    }

    .saveButton {
        display: table-cell;
    }
}