/* Десктоп, главное менюы */

.pageHeader {
  position: fixed;
  width: 100%;
  padding-left: 170px;
  background: url(https://cdn.glitch.com/ad00917f-6e7f-4e02-be9e-1e86b9a7f371%2Flogo.svg?1502313014500) no-repeat;
  background-color: #A23A99;
  z-index: 999;
}

.topNavigation {
  list-style: none;
}

.topNavigation li {
  display:inline;
}

.topNavigation__link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 15px 15px;
}

.topNavigation__link--active {
  color: #A23A99;
  background-color: rgba(255,255,255,.85);
}

/* Десктоп, сайдбар-переключалка */
.sidebar {
  position: fixed;
  list-style: none;
  top: 70px;
  left: 25px;
  /*padding: 2rem 1rem;*/
  /*border-radius: 4px;*/
}

.sidebar__link {
  display: block;
  text-decoration: none;
  
    background: #fff;
    font-weight: 600;
    min-width: 125px;
    padding: 5px 13px;
    border: 2px solid #353B3F;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    /*box-shadow: 3px 3px 0;*/

  margin-bottom: 15px;
  min-width: 150px;
  cursor: pointer;
  /*transition: all .15s;*/
}

.sidebar__link:hover {
    background-color: #E5E5E5;
}

.sidebar__link:active {
    background-color: #E5E5E5;
}

/* Мобильник, главное меню (табы) */
.bottomMenu {
  position: fixed;
  bottom: 0;
  /*border-top: 1px solid rgba(0,0,0,.05);*/
  width: 100%;
  background-color: #A23A99;
  list-style: none;
  text-align: center;
  z-index: 999;
  padding: 7px 0;
}

.bottomMenu li:not(:first-child):before {
  content: '';
  margin: 0 8px;
  color: rgba(255,255,255,.25);
}

.bottomMenu li {
  display:inline;
}

.bottomMenu__link {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  padding: 10px 10px; 
  color: rgba(255,255,255, .8); 
}

.bottomMenu__link--active {
  color: #fff;
  border: 2px solid rgba(255,255,255, .5);
  border-radius: 4px;
}

@media screen and (min-device-width : 375px) {
  .bottomMenu__link {
    font-size: 16px;
  }
}


/* Мобильник, переключалка в хэдер */
.subMenu {
  position: fixed;
  top: 0;
  border-top: 10px solid #A23A99;
  border-bottom: 1px solid rgba(0,0,0,.1);
  width: 100%;
  padding: 10px 0;
  background-color: #fff;
  list-style: none;
  text-align: center;
  z-index: 999;
}

.subMenu li {
  display:inline;
}

.subMenu__link {
  display: inline-block;
  text-decoration: none;
  color: #A23A99;
  padding: 7px 13px;
  font-weight: bold;
  border: 2px solid #A23A99;
  border-radius: 4px;
  margin-right: 10px;
  font-size: 14px;
}

.subMenu__link--active {
  color: #fff;
  background-color: #A23A99;
}



