body {
  background-color: #F4F5F5;
}

section {
  padding: 70px 0;
}

h1 {
  font-size: 24px;
}

.backButton {
  display: inline-block;
  opacity: .55;
  background: url(/static/common/back-icon.svg) no-repeat;
  background-size: 10px 18px;
  width: 10px;
  height: 18px;
  margin-right: 7px;
}

h2 {
  padding: 7px 0;
  opacity: .55;
  font-size: 1.15em;
  font-weight: 300;
}

h3 {
  line-height: 1;
  padding-bottom: 3px;
}

.mobilePadding {
  padding-left: 15px;
  padding-right: 15px;
}

.label {
  display: block;
  font-size: 16px;
  opacity: .8;
  margin: 5px 0;
  padding: 0 15px;
}

.data {
  display: block;
  text-decoration: none;
  font-size: 15px;
  padding: .8rem .88rem;
  background: #fff;
  border-bottom: 1px solid #E6E6E7;
  border-top: 1px solid #E6E6E7;
  margin-bottom: 15px;
}

.info {
  font-size: 14px;
  opacity: .7;
  padding: 10px 15px;
  padding-top: 0;
  border-bottom: 1px solid rgba(0,0,0,.025);
}

.card {
  padding-top: 15px;
}

.panel {
  padding: 0 15px;
  padding-top: 15px;
}

.button {
  outline: none;
  display: block;
  cursor: pointer;
  background: #fff;
  box-shadow: 4px 4px 0 0 #353B3F;
  border-radius: 4px;
  font-size: 16px;
  border: 2px solid;
  padding: 7px 12px;
  margin-top: 12px;
  text-decoration: none;
  text-align: center;
  margin-bottom: 15px;
}
.button:hover {
  box-shadow: 7px 7px 0 0 #353B3F;
}

.button--primary {
  background: #A23A99;
  color: #FFFFFF;
  border: 2px solid transparent;
}

.preloader {
    background: url(/static/common/loader80.gif) center center no-repeat;
    min-height: 300px;
}


.optionsPanel {
    border-top: 1px solid #E6E6E7;
    border-bottom: 1px solid #E6E6E7;
    padding: 15px;
    padding-top: 0;
    background-color: #fff;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
}

.optionsButton {
    text-decoration: none;
    cursor: pointer;
    display: block;
    font-size: 13px;
    padding: 6px 12px;
    font-weight: 600;
    background-color: #fff;
    border: solid #A4AEAE 2px;
    border-radius: 5px;
    position: relative; 
    margin-top: 15px;  
}


@media screen and (min-width:1024px) {
  section {
    padding: 70px 15px 100px 15px;
    margin: 0 auto;
    width: 500px;
  }

  .optionsPanel {
      border: 1px solid #E6E6E7;
      border-radius: 5px;
  }   

  .buttonsPanel {
    text-align: center;
  }

  .button {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 15px;
  }
  
  .mobilePadding {
    padding-left: 0;
    padding-right: 0;
  }
  
  .label {
    padding: 0;
  }
  
  .data {
    border: 1px solid #E6E6E7;
    border-radius: 4px;
  }
  
  .info {
    padding: 10px 0;
    padding-top: 0;
  }
  
  .panel {
    padding: 0;
    padding-top: 1%;
  }
}